*, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #000;
}

a{
    text-decoration: none;
}
select, select > option{
    background: transparent;
    border: none;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
}
/*
#35495e
#42b883
light 300 italic
Regular 400
Black 900 italic
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;1,300;1,900&display=swap');
.navbar-logo{
    width: 130px;
}
.logo{    
    font-weight: 300;
    font-size: 36px;
    line-height: 2.0rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
.logo span{
    font-size: 32px;
    font-weight: 900;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    padding-left: 15px;
    color: #42b883;
}

.menu a{
    font-size: 18px;   
}
.menu a:active{
    color: #42b883;
}

/*footer*/
footer{
    width: 100%;
    margin-top: 5px;
    padding: 0;
    position: absolute;
    bottom: 0;
}
.footer-wrap{
    padding: 10px 0;
    display: flex;    
}
.footer-item{
    padding: 10px;
    margin: 0 10px;
}
.footer-item a,
.footer-item p{
    display: block;
    padding: 5px;
    font-size: 18px;
    color: #fff;

}
.footer-item.contacts,
.footer-item.payment{
    width: 30%;
}
.footer-item.mailing{
    width: 40%;
}